sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
nbsphinx==0.8.9
pydata-sphinx-theme==0.8.1
sphinx_gallery==0.11.1
numpy==1.22.3
astropy==5.1
scipy==1.9.1
matplotlib==3.5.1
pandas==1.4.2
emcee==3.1.1
tqdm==4.64.0
dill==0.3.4
sklearn==0.0
chainconsumer==0.34.0
ipython==8.2.0
